<%= render "shared/header"%>

<br>
<div class="row justify-content-center mt-4">
    <%= link_to "Add Question", new_casestudy_question_path, class: "btn btn-primary align-center col-3 me-4" %>
    <%= link_to "Finish", contentcreator_dashboard_path, class: "btn btn-primary align-center col-3" %>
</div>