<%= render 'shared/header'%>
<div class="container">
    <br>
    <div class="row justify-content-center mt-4">
        <div class="col-4 justify-content-center">
        <%= link_to "Show Assessments", assessor_response_index_path(current_user.id), class: "btn btn-primary align-center", style:"width: 100%" %>
        </div>
    </div>
</div>