<%= render 'shared/header'%>
<div class="container">
    <br>
    <div class="row justify-content-center mt-4">
    <%= link_to "Create Casestudy", new_casestudy_path, class: "btn btn-primary align-center col-3" %>
    </div>
</div>