<%= render "shared/header"%>

<br>
<div class="row justify-content-center mt-4">
    <%= link_to "Add Page", new_casestudy_page_path, class: "btn btn-primary align-center col-3 me-4" %>
    <%= link_to "Next", casestudy_questions_path, class: "btn btn-primary align-center col-3" %>
</div>